body{
    background-color: rgb(190, 138, 238);
}
h1{
    color: purple;
    text-align: center;
    background-color: rgb(210, 190, 229);
    line-height: 80px;
    margin: 10, 5, 10, 5;

}

#p1{
    color: purple;
    text-align: right;
    width: 420px;
    font-size: 20px;
    line-height: 25px;
    padding-left: 250px;
    
}
#p2{
    color: rgb(88, 6, 88);
    width: 200px;
    font-size: 25px;
    line-height: 10px;
    
}

#hab{
    color: purple;
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    
}
.button{
    text-decoration: none;
    line-height: 15px;
    padding: 20px;
    background:rgb(210, 190, 229) ;
    border-radius: 4px;
    display: block;
    width: 100px;
    text-align: center;
    font-weight: 700;
}
.picture{
    border-radius: 50%;
    width: 150px;

}

img, p{
    display: inline-block
}