body{
    background-color: rgb(243, 240, 247);
    margin: 0;
    padding: 0;
}
h1, h2{
    color: purple;
    text-align: center;
    background-color: rgb(210, 190, 229);
    line-height: 80px;
    margin: 10, 5, 10, 5;

}


.button-linkedin{
    text-decoration: none;
    line-height: 15px;
    padding: 20px;
    background:rgb(210, 190, 229) ;
    border-radius: 4px;
    display: block;
    width: 100px;
    text-align: center;
    font-weight: 700;
}
.button-github{
    text-decoration: none;
    line-height: 15px;
    padding: 20px;
    background:rgb(210, 190, 229) ;
    border-radius: 4px;
    display: block;
    width: 100px;
    text-align: center;
    font-weight: 700;
}
.button-github, .button-linkedin{
    display: inline-block;
}
.picture{
    border-radius: 50%;
    width: 150px;

}

img, p{
    display: inline-block;
    
}